In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv('../Data/combo_df')

In [3]:
df.head()

,combo_index,ID,Article,Color,Characteristic,Cost,Occasion,ID.1,Article.1,Color.1,Characteristic.1,Cost.1,Occasion.1,Complementary
0,1,1,pants,red,loose,112.8,Casual,1,pants,red,loose,112.80,Casual,Not Match
1,2,1,pants,red,loose,112.8,Casual,2,shoes,purple,short,85.14,Casual,Great Match
2,3,1,pants,red,loose,112.8,Casual,3,dress,purple,long,96.70,Work,Neutral
3,4,1,pants,red,loose,112.8,Casual,4,dress,purple,sun,130.40,Special Occasion,Great Match
4,5,1,pants,red,loose,112.8,Casual,5,shoes,black,long,65.41,Physical Activity,Neutral

In [4]:
df.drop(['ID','ID.1'],axis=1,inplace=True)

In [5]:
df.set_index('combo_index',inplace=True)

In [6]:
inputs=df.drop('Complementary', axis=1)
output=df['Complementary']

In [7]:
objects=[i for i in inputs.columns if type(inputs[i][1]) is str]
numerical=[i for i in inputs.columns if type(inputs[i][1]) is np.float64]

In [8]:
dummy_df=pd.get_dummies(df[objects])
dummy_df.head()

,Article_dress,Article_jacket,Article_jeans,Article_pants,Article_shirt,Article_shoes,Article_skirt,Color_black,Color_blue,Color_grey,...,Characteristic.1_loose,Characteristic.1_many buttons,Characteristic.1_short,Characteristic.1_sun,Characteristic.1_tight,Characteristic.1_zipper,Occasion.1_Casual,Occasion.1_Physical Activity,Occasion.1_Special Occasion,Occasion.1_Work
combo_index,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
5,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [9]:
inputs.drop(objects,axis=1,inplace=True)

In [10]:
X=pd.concat([inputs,dummy_df],axis=1)

In [11]:
encoder_inst=LabelEncoder()
y=encoder_inst.fit_transform(output)

In [12]:
len(y)

2500

In [13]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.25)

In [14]:
rf_inst=RandomForestClassifier()
rf_fit=rf_inst.fit(X_train,y_train)
rf_pred=rf_fit.predict(X_test)
accuracy_score(rf_pred,y_test)

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.3392

In [15]:
import pickle as pkl
file='../Models/random_forest.pkl'
pkl.dump(rf_fit,open(file, 'wb'))

In [16]:
loaded_model = pkl.load(open(file, 'rb'))

In [17]:
file='../Models/input_data.pkl'
pkl.dump(X,open(file, 'wb'))

In [18]:
file='../Models/output_data.pkl'
pkl.dump(y,open(file, 'wb'))