In [33]:
import numpy as np
import pandas as pd

In [34]:
cols=pd.read_csv('../Data/tag_dataset.csv')

In [35]:
cols

Empty DataFrame
Columns: [Article1, Article2, Color1, Color2, Price_1, Price_2, Occasion_1, Occasion_2, Unique_Characteristic_Article_1, Unique_Characteristic_Article_2, Complementary]
Index: []

In [50]:
article_options=['shirt','jeans','shoes','jacket','pants','dress','skirt']
color=['white','black','grey','blue','red','purple','striped','plad']
occasion=['Physical Activity','Special Occasion','Casual','Work']
unique_characteristics=['flared','tight','laced','raised heel','flat','long','short','buttoned','collar','draw string','pockets','no pockets']

In [63]:


def generate_data(array_possible_vals,number_of_values):
    random_array=[]
    
    for i in range(1,number_of_values):
        rand_index=np.random.randint(0,len(array_possible_vals))
        random_value=array_possible_vals[rand_index]
        random_array.append(random_value)
    
    return random_array

In [79]:
number_of_values=51
clothing_array=generate_data(article_options,number_of_values)
color_array=generate_data(color,number_of_values)
occasion_array=generate_data(occasion,number_of_values)

In [90]:
def restricted_random(article_array):
    shirt_array=['long','short','buttoned','collared']
    jeans_array=['flared','tight','long','short','baggy']
    shoes_array=['raised heel','flat','long','short']
    jacket_array=['limited buttons','zipper','hood','many buttons']
    pants_array=['leather','long','short','loose','tight']
    dress_array=['sun','short','long','tight','loose']
    skirt_array=['short','long','tight','loose']
    num_times=2
    restricted_random_array=[]
    for i in article_array:
        switcher={
            'shirt':generate_data(shirt_array,num_times),
            'jeans':generate_data(jeans_array,num_times),
            'shoes':generate_data(shoes_array,num_times),
            'jacket':generate_data(jacket_array,num_times),
            'pants':generate_data(pants_array,num_times),
            'dress':generate_data(dress_array,num_times),
            'skirt':generate_data(skirt_array,num_times),
        }

        restricted_random_array.append(switcher.get(i)[0])
    
    return restricted_random_array

In [91]:
characteristic_array=restricted_random(clothing_array)

In [97]:
cost_array=np.round(np.random.normal(100,20,number_of_values-1),2)
len(cost_array)

50

In [98]:
ids=[i for i in range(1,number_of_values)]

In [99]:
df_articles=pd.DataFrame({'ID':ids,'Article':clothing_array,'Color':color_array,'Characteristic':characteristic_array,'Cost':cost_array,'Occasion':occasion_array})

In [100]:
df_articles.head()

   ID Article   Color Characteristic    Cost           Occasion
0   1   pants     red          loose  112.80             Casual
1   2   shoes  purple          short   85.14             Casual
2   3   dress  purple           long   96.70               Work
3   4   dress  purple            sun  130.40   Special Occasion
4   5   shoes   black           long   65.41  Physical Activity

In [119]:
def all_combos(id_array):
    pairs=[]
    for i in id_array:
        for j in id_array:
            pair=[i,j]
            pairs.append(pair)
    return pairs

In [120]:
combos=all_combos(df_articles['ID'])

In [143]:
article1=pd.DataFrame(columns=['ID1','Article1','Color1','Characteristic1','Cosst1','Occasion1'])
ps=[]
for i in combos:
    p=df_articles[df_articles['ID']==i[0]]
    c=pd.concat([article1,p])
    ps.append(c)

In [145]:
art1=pd.concat(ps)

In [146]:
article2=pd.DataFrame(columns=['ID2','Article2','Color2','Characteristic2','Cost2','Occasion2'])
ps=[]
for i in combos:
    p=df_articles[df_articles['ID']==i[1]]
    c=pd.concat([article1,p])
    ps.append(c)

In [147]:
art2=pd.concat(ps)

In [163]:
combo_index=[i for i in range(1,len(art2)+1)]
c=combo_index

In [167]:
art1['combo_index']=c
art2['combo_index']=c
art1.set_index('combo_index',inplace=True)
art2.set_index('combo_index',inplace=True)

In [168]:
final_df=pd.concat([art1,art2],axis=1)

In [174]:
final_df['Complementary']=generate_data(['Not Match','Neutral','Great Match'],len(final_df)+1)

In [175]:
final_df.head()

,ID,Article,Color,Characteristic,Cost,Occasion,ID,Article,Color,Characteristic,Cost,Occasion,Complementary
combo_index,,,,,,,,,,,,,
1,1,pants,red,loose,112.8,Casual,1,pants,red,loose,112.80,Casual,Not Match
2,1,pants,red,loose,112.8,Casual,2,shoes,purple,short,85.14,Casual,Great Match
3,1,pants,red,loose,112.8,Casual,3,dress,purple,long,96.70,Work,Neutral
4,1,pants,red,loose,112.8,Casual,4,dress,purple,sun,130.40,Special Occasion,Great Match
5,1,pants,red,loose,112.8,Casual,5,shoes,black,long,65.41,Physical Activity,Neutral

In [176]:
final_df.to_csv('../Data/combo_df')