In [1]:
import pickle as pkl
import xgboost as xgb
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [2]:
def learn(input_set,output_set):
    X_train,X_test,y_train,y_test=train_test_split(input_set,output_set,test_size=.2)
    xgb_inst=xgb.XGBClassifier()
    xgb_fit=xgb_inst.fit(X_train,y_train)
    xgb_pred=xgb_fit.predict(X_test)
    acc=accuracy_score(xgb_pred,y_test)
    return acc,xgb_pred

In [3]:
def random_combo(c_list):
    #df=pd.read_csv('../Data/combo_df')
    r=np.random.randint(1,len(c_list))
    return r

In [4]:
random_combo(df)

NameError: name 'df' is not defined

In [5]:
df=pd.read_csv('../Data/combo_df')
df.columns

Index(['combo_index', 'ID', 'Article', 'Color', 'Characteristic', 'Cost',
       'Occasion', 'ID.1', 'Article.1', 'Color.1', 'Characteristic.1',
       'Cost.1', 'Occasion.1', 'Complementary'],
      dtype='object')

In [6]:
df=pd.read_csv('../Data/combo_df')
def extract_info(com):
    line=df.iloc[com]
    article1=line['ID']
    article2=line['ID.1']
    return article1,article2

In [7]:
extract_info(1)

(1, 2)

In [8]:
def add_to_output_1(combo_id,new_df):
    #df=pd.read_csv('../Data/combo_df')
    new_df['Complementary'][combo_id]=1
    r=random_combo(new_df)
    return new_df,r
def add_to_output_2(combo_id,new_df):
    #df=pd.read_csv('../Data/combo_df')
    new_df['Complementary'][combo_id]=2
    r=random_combo(new_df)
    return new_df,r
def add_to_output_3(combo_id,new_df):
    #df=pd.read_csv('../Data/combo_df')
    new_df['Complementary'][combo_id]=3
    r=random_combo(new_df)
    
    return new_df,r

In [9]:
add_to_output_1(5,df)[1]

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

136

In [27]:
import tkinter as tk
df=pd.read_csv('../Data/combo_df')

global new_info
new_info=[]
global combo_list
combo_list=df['combo_index'].tolist()
def press1():
    r=np.random.randint(1,len(combo_list))
    new_info.append([r,1])
    print(new_info)
    string='hi'
    topframe.config(text=extract_info(r))
    combo_list.remove(r)
    
    
def press2():
    r=np.random.randint(1,len(combo_list))
    new_info.append([r,2])
    print(new_info)
    string='hi'
    topframe.config(text=extract_info(r))
    combo_list.remove(r)
    
def press3():
    r=np.random.randint(1,len(combo_list))
    new_info.append([r,3])
    print(new_info)
    string='hi'
    
    topframe.config(text=extract_info(r))
    combo_list.remove(r)
    
    
def back():
    topframe.config(text="Text Goes Here")
    


root=tk.Tk()



topframe=tk.Frame(root)
topframe=tk.Label(text='hi',height=30)
topframe.pack(side=tk.TOP)

leftframe=tk.Frame(root)
leftframe=tk.Button(text="Dislike",command=press1)
leftframe.pack(side=tk.LEFT)

midframe=tk.Frame(root)
midframe=tk.Button(text="Neutral",command=press2)
midframe.pack(side=tk.RIGHT)

rightframe=tk.Frame(root)
rightframe=tk.Button(text="Love",command=press3)
rightframe.pack(side=tk.BOTTOM)

rightframe=tk.Frame(root)
rightframe=tk.Button(text="Text Goes Here",command=back)
rightframe.pack(side=tk.BOTTOM)



root.mainloop()

[[2080, 1]]
[[2080, 1], [139, 3]]
[[2080, 1], [139, 3], [2285, 2]]
[[2080, 1], [139, 3], [2285, 2], [795, 1]]
[[2080, 1], [139, 3], [2285, 2], [795, 1], [1866, 2]]
[[2080, 1], [139, 3], [2285, 2], [795, 1], [1866, 2], [1550, 2]]
[[2080, 1], [139, 3], [2285, 2], [795, 1], [1866, 2], [1550, 2], [1731, 2]]
[[2080, 1], [139, 3], [2285, 2], [795, 1], [1866, 2], [1550, 2], [1731, 2], [1436, 2]]
[[2080, 1], [139, 3], [2285, 2], [795, 1], [1866, 2], [1550, 2], [1731, 2], [1436, 2], [727, 1]]

In [64]:
def create_input_list(new_info):
    df=pd.read_csv('../Data/combo_df')
    cols=df.columns.tolist()
    cols.remove('Complementary')
    new_inputs=[]
    for i in new_info:
        line=df.iloc[i[0]]
        vals=[line[j] for j in cols]
        vals.append(i[1])
        new_inputs.append(vals)
    input_df=pd.DataFrame(data=new_inputs,columns=df.columns)
    return input_df

In [65]:
create_input_list(new_info)

,combo_index,ID,Article,Color,Characteristic,Cost,Occasion,ID.1,Article.1,Color.1,Characteristic.1,Cost.1,Occasion.1,Complementary
0,2081,42,pants,striped,leather,113.73,Casual,31,jeans,grey,baggy,61.56,Work,1
1,140,3,dress,purple,long,96.70,Work,40,shoes,blue,flat,76.78,Work,3
2,2286,46,shirt,white,short,90.61,Special Occasion,36,pants,red,leather,72.77,Special Occasion,2
3,796,16,shirt,purple,buttoned,61.99,Work,46,shirt,white,short,90.61,Special Occasion,1
4,1867,38,jacket,red,many buttons,109.57,Special Occasion,17,pants,white,tight,109.44,Physical Activity,2
5,1551,32,jeans,white,flared,105.97,Casual,1,pants,red,loose,112.80,Casual,2
6,1732,35,jacket,white,many buttons,111.54,Physical Activity,32,jeans,white,flared,105.97,Casual,2
7,1437,29,pants,white,short,64.01,Special Occasion,37,jacket,red,hood,74.05,Work,2
8,728,15,pants,striped,long,91.63,Physical Activity,28,jacket,purple,hood,97.56,Casual,1

In [53]:
line=df.iloc[n]
line['combo_index']

140

In [50]:
n=new_info[][0]